@{
    ViewData["Title"] = "Home Page";
}    

    <div class="text-center">
        <h1 class="display-4">Welcome to B&T BookStore</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <img src="/images/igallery5.webp" style="width:100%" />

    </div>
    
    
